<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
    <div class="card-header" *ngIf="!cliente.id else elseBlockName">New Client</div>
    <ng-template #elseBlockName>
        <div class="card-header">Edit Client</div>
    </ng-template>
    <div class="card-body">

        <form #clienteForm="ngForm">
            <div class="form-group row">
                <label for="Name" class="col-form-label col-sm-2">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.name" name="name" #name="ngModel"><!-- required maxlength='60' minlength="4"-->
                    <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                      <div *ngIf="name.errors.required">
                        Name is required
                      </div>
                      <div *ngIf="name.errors.minlength">
                        The length of the name must be at least 4 characters.
                      </div>
                      <div *ngIf="name.errors.maxlength">
                       The maximum length of the name must be at least 60 characters.
                      </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="Last Name" class="col-form-label col-sm-2">last Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.lastname" name="lastname" #lastname="ngModel"><!-- required maxlength='60' minlength="4"  -->
                    <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                      <div *ngIf="lastname.errors.required">
                        Lastname is required
                      </div>
                      <div *ngIf="lastname.errors.minlength">
                        The length of the lastname must be at least 4 characters.
                      </div>
                      <div *ngIf="lastname.errors.maxlength">
                       The maximum length of the lastname must be at least 60 characters.
                      </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="E-mail" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"><!-- required email -->
                    <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                      <div *ngIf="email.errors.required">
                        Email is required
                      </div>
                      <div *ngIf="email.errors.email">
                        The email format must be valid.
                      </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Save</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Edit</button>
                    </ng-template>
                </div>
            </div>
        </form>

    </div>
</div>
